<a href="https://colab.research.google.com/github/jimmiychen/practice/blob/main/101_Pandas_Exercises_for_Data_Analysis_(Python).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. How to import pandas and check the version?**

In [2]:
import numpy as np

print(np.__version__)

import pandas as pd

print(pd.__version__)

1.19.5
1.1.5

# **2. How to create a series from a list, numpy array and dict?**
Create a pandas series from each of the items below: a list, numpy and a dictionary<br><br>



Input<br>


import numpy as np<br>
mylist = list('abcedfghijklmnopqrstuvwxyz')<br>
myarr = np.arange(26)<br>
mydict = dict(zip(mylist, myarr))<br>

In [ ]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

ser1=pd.Series(mylist)
print(ser1)
print("\n")
ser2=pd.Series(myarr)
print(ser2)
print("\n")
ser3=pd.Series(mydict)
print(ser3)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object


0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64


a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

# **3. How to convert the index of a series into a column of a dataframe?**
Difficulty Level: L1

Convert the series ser into a dataframe with its index as another column on the dataframe.<br><br>

Input

mylist = list('abcedfghijklmnopqrstuvwxyz')<br>
myarr = np.arange(26)<br>
mydict = dict(zip(mylist, myarr))<br>
ser = pd.Series(mydict)<br>

In [ ]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
df=ser.to_frame().reset_index()
print(df)

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

# **4. How to combine many series to form a dataframe?**
Difficulty Level: L1

Combine ser1 and ser2 to form a dataframe.<br><br>

Input

import numpy as np<br>
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))<br>
ser2 = pd.Series(np.arange(26))<br>

In [3]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
print(ser1)
print("\n")
print(ser2)
print("\n")

df1=pd.concat([ser1, ser2], axis=1)
print(df1)
print("\n")

#字典表示法
df2=pd.DataFrame(
        {
          "col1":ser1,
          "col2":ser2       
  }  
)
print(df2)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object


0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64


    0   1
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13
14  o  14
15  p  15
16  q  16
17  r  17
18  s  18
19  t  19
20  u  20
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25


   col1  col2
0     a     0
1     b     1
2     c     2
3     e     3
4     d     4
5     f     5
6     g     6
7     h     7
8     i     8
9     j     9
10    k    10
11    l    11
12    m    12
13    n    13
14    o    14
15    p    15
16    q    16
17    r    17
18    s    18
19    t    19
20    u    20
21    v    21
22    w    22
23    x    23
24    y    24
25    z    25

# **5. How to assign name to the series’ index?**
Difficulty Level: L1

Give a name to the series ser calling it ‘alphabets’.<br><br>

Input

ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

In [9]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.name='alphabets'
print(ser)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: alphabets, dtype: object

# **6. How to get the items of series A not present in series B?**
Difficulty Level: L2

From ser1 remove items present in ser2.

ser1 = pd.Series([1, 2, 3, 4, 5])<br>
ser2 = pd.Series([4, 5, 6, 7, 8])

In [12]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser1[~ser1.isin(ser2)] #isin=is in

0    1
1    2
2    3
dtype: int64

# **7. How to get the items not common to both series A and series B?**
Difficulty Level: L2



Get all items of ser1 and ser2 not common to both.<br><br>

Input

ser1 = pd.Series([1, 2, 3, 4, 5])<br>
ser2 = pd.Series([4, 5, 6, 7, 8])

In [16]:
ser_u = pd.Series(np.union1d(ser1, ser2))  # 結合numpy union
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # 結合numpy intersect
print(ser_u)
print("\n")
print(ser_i)
print("\n")
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64


0    4
1    5
dtype: int64

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

# **8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?**
Difficuty Level: L2

Compute the minimum, 25th percentile, median, 75th, and maximum of ser.<br><br>

Input

ser = pd.Series(np.random.normal(10, 5, 25))

In [25]:
ser = pd.Series(np.random.normal(10, 5, 25))
print(ser)
print("\n")
print(ser.min())
print(ser.median())
print(ser.max())
print("\n")
print(np.percentile(ser,[0,25,50,75,100])) # 結合numpy percentile

0      9.474632
1      3.323937
2      4.932961
3      9.021201
4     13.034748
5      4.061385
6      6.452198
7      4.478376
8     12.727458
9     11.625934
10     6.044956
11    12.730805
12     4.185546
13    12.600429
14     1.708842
15     1.742103
16     9.215212
17    12.086126
18     8.829092
19    20.245458
20    10.610033
21    18.814137
22     8.008287
23     7.421621
24    -4.982349
dtype: float64


-4.982349343370458
8.829091670330252
20.24545847044358


[-4.98234934  4.47837579  8.82909167 12.08612648 20.24545847]

# **9. How to get frequency counts of unique items of a series?**
Difficulty Level: L1

Calculte the frequency counts of each unique value ser.<br><br>

Input

ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [32]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
print(ser.value_counts())

c    8
f    5
g    5
e    4
d    3
h    2
b    2
a    1
dtype: int64

# **10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?**
Difficulty Level: L2

From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.<br><br>


Input

np.random.RandomState(100)<br>
ser = pd.Series(np.random.randint(1, 5, [12]))

In [56]:
#np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 10, [20]))
print(ser)
print("\n")
print("Top 2 Freq:\n", ser.value_counts())
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
print(ser)

0     3
1     8
2     6
3     8
4     3
5     4
6     9
7     6
8     6
9     6
10    9
11    3
12    3
13    1
14    1
15    1
16    3
17    5
18    9
19    9
dtype: int64


Top 2 Freq:
 3    5
9    4
6    4
1    3
8    2
5    1
4    1
dtype: int64
0         3
1     Other
2     Other
3     Other
4         3
5     Other
6         9
7     Other
8     Other
9     Other
10        9
11        3
12        3
13    Other
14    Other
15    Other
16        3
17    Other
18        9
19        9
dtype: object