<a href="https://colab.research.google.com/github/jimmiychen/practice/blob/main/101_NumPy_Exercises_for_Data_Analysis_(Python).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **101 NumPy Exercises for Data Analysis (Python)**

## **1. Import numpy as np and see the version**
Difficulty Level: L1

Q. Import numpy as np and print the version number.

In [1]:
import numpy as np

print(np.__version__)

1.19.5

## **2. How to create a 1D array?**
Difficulty Level: L1<br>

Q. Create a 1D array of numbers from 0 to 9 <br><br>
Desired output:


array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [3]:
a=np.arange(10)
print(a)

[0 1 2 3 4 5 6 7 8 9]

## **3. How to create a boolean array?**
Difficulty Level: L1

Q. Create a 3×3 numpy array of all True’s

In [26]:
a=np.ones((3,3),dtype=bool)
print("method1:",a,"\n")
b=np.full((3,3),True,dtype=bool)
print("method2:",b)

method1: [[ True  True  True]
 [ True  True  True]
 [ True  True  True]]

method2: [[ True  True  True]
 [ True  True  True]
 [ True  True  True]]

# **4. How to extract items that satisfy a given condition from 1D array?**
Difficulty Level: L1

Q. Extract all odd numbers from arr<br><br>


Input:

arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])<br><br>
Desired output:<br>
array([1, 3, 5, 7, 9])

In [27]:
a=np.arange(10)
print(a,"\n")
a=a[a%2==1]
print(a)

[0 1 2 3 4 5 6 7 8 9]

[1 3 5 7 9]

# **5. How to replace items that satisfy a condition with another value in numpy array?**
Difficulty Level: L1<br>

Q. Replace all odd numbers in arr with -1 <br><br>
Input:


arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])<br><br>
Desired Output:<br>
array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

In [8]:
a=np.arange(10)
print(a,"\n")
a[a[a%2==1]]=-1
print(a)

[0 1 2 3 4 5 6 7 8 9]

[ 0 -1  2 -1  4 -1  6 -1  8 -1]

# **6. How to replace items that satisfy a condition without affecting the original array?**
Difficulty Level: L2

Q. Replace all odd numbers in arr with -1 without changing arr
<br><br>Input:

arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])<br><br>
Desired Output:

out
array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])<br>
arr
array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [25]:
print("錯誤:")
a=np.arange(10)
out=a
out[out[out%2==1]]=-1
print("a=",a)
print("out=",out)
print("\n")
print("正確:")
b=np.arange(10)
out=np.where(b%2==1,-1,b)
print("b=",b)
print("out=",out)
print("\n")

錯誤:
a= [ 0 -1  2 -1  4 -1  6 -1  8 -1]
out= [ 0 -1  2 -1  4 -1  6 -1  8 -1]


正確:
b= [0 1 2 3 4 5 6 7 8 9]
out= [ 0 -1  2 -1  4 -1  6 -1  8 -1]

# **7. How to reshape an array?**
Difficulty Level: L1

Q. Convert a 1D array to a 2D array with 2 rows<br><br>
Input:

np.arange(10)

array([ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9])<br><br>
Desired Output:<br>

array([[0, 1, 2, 3, 4],<br>
[5, 6, 7, 8, 9]])

In [11]:
a=np.arange(10)
print(a,"\n")
a=a.reshape(2,5)
print(a)

[0 1 2 3 4 5 6 7 8 9]

[[0 1 2 3 4]
 [5 6 7 8 9]]

# **8. How to stack two arrays vertically?**
Difficulty Level: L2<br>
Q. Stack arrays a and b vertically<br><br>
Input

a = np.arange(10).reshape(2,-1)<br>
b = np.repeat(1, 10).reshape(2,-1)<br><br>
Desired Output:<br>


array([[0, 1, 2, 3, 4],<br>
  [5, 6, 7, 8, 9],<br>
  [1, 1, 1, 1, 1],<br>
  [1, 1, 1, 1, 1]])

In [17]:
a=np.arange(10).reshape(2,5)
b=np.full((2,5),1)
print(a,"\n")
print(b,"\n")
print(np.vstack([a,b]))

[[0 1 2 3 4]
 [5 6 7 8 9]]

[[1 1 1 1 1]
 [1 1 1 1 1]]

[[0 1 2 3 4]
 [5 6 7 8 9]
 [1 1 1 1 1]
 [1 1 1 1 1]]

# **9. How to stack two arrays horizontally?**
Difficulty Level: L2

Q. Stack the arrays a and b horizontally.<br><br>
Input<br>

a = np.arange(10).reshape(2,-1)

b = np.repeat(1, 10).reshape(2,-1)<br><br>
Desired Output:<br>

array([[0, 1, 2, 3, 4, 1, 1, 1, 1, 1],<br>
[5, 6, 7, 8, 9, 1, 1, 1, 1, 1]])

In [18]:
a=np.arange(10).reshape(2,5)
b=np.full((2,5),1)
print(a,"\n")
print(b,"\n")
print(np.hstack([a,b]))

[[0 1 2 3 4]
 [5 6 7 8 9]]

[[1 1 1 1 1]
 [1 1 1 1 1]]

[[0 1 2 3 4 1 1 1 1 1]
 [5 6 7 8 9 1 1 1 1 1]]

# **10. How to generate custom sequences in numpy without hardcoding?**
Difficulty Level: L2

Q. Create the following pattern without hardcoding. Use only numpy functions and the below input array a.<br><br>

Input:


a = np.array([1,2,3])<br><br>
Desired Output:<br>

array([1, 1, 1, 2, 2, 2, 3, 3, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3])

In [21]:
#np.repeat：复制的是多维数组的每一个元素
#np.tile：复制的是多维数组本身
a=np.arange(3)
print(a)
b=np.r_[np.repeat(a,3),np.tile(a,3)] #复制3次
#np.r_是按列连接两个矩阵，就是把两矩阵上下相加，要求列数相等，类似于pandas中的concat()。
#np.c_是按行连接两个矩阵，就是把两矩阵左右相加，要求行数相等，类似于pandas中的merge()。
print(b)

[1 2 3]
[1 1 1 2 2 2 3 3 3 1 2 3 1 2 3 1 2 3]

# **11. How to get the common items between two python numpy arrays?**
Difficulty Level: L2

Q. Get the common items between a and b
 <br>  <br> 
Input:

a = np.array([1,2,3,2,3,4,3,4,5,6]) <br> 
b = np.array([7,2,10,2,7,4,9,4,9,8]) <br><br>

Desired Output:

array([2, 4])

In [32]:
a=np.array([1,2,3,2,3,4,3,4,5,6]) #直接創list
b=np.array([7,2,10,2,7,4,9,4,9,8]) #直接創list
c=np.intersect1d(a,b)
print(c)

[2 4]