<a href="https://colab.research.google.com/github/jimmiychen/practice/blob/main/101_Pandas_Exercises_for_Data_Analysis_(Python).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. How to import pandas and check the version?**

In [2]:
import numpy as np

print(np.__version__)

import pandas as pd

print(pd.__version__)

1.19.5
1.1.5

# **2. How to create a series from a list, numpy array and dict?**
Create a pandas series from each of the items below: a list, numpy and a dictionary<br><br>



Input<br>


import numpy as np<br>
mylist = list('abcedfghijklmnopqrstuvwxyz')<br>
myarr = np.arange(26)<br>
mydict = dict(zip(mylist, myarr))<br>

In [ ]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

ser1=pd.Series(mylist)
print(ser1)
print("\n")
ser2=pd.Series(myarr)
print(ser2)
print("\n")
ser3=pd.Series(mydict)
print(ser3)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object


0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64


a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

# **3. How to convert the index of a series into a column of a dataframe?**
Difficulty Level: L1

Convert the series ser into a dataframe with its index as another column on the dataframe.<br><br>

Input

mylist = list('abcedfghijklmnopqrstuvwxyz')<br>
myarr = np.arange(26)<br>
mydict = dict(zip(mylist, myarr))<br>
ser = pd.Series(mydict)<br>

In [ ]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
df=ser.to_frame().reset_index()
print(df)

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

# **4. How to combine many series to form a dataframe?**
Difficulty Level: L1

Combine ser1 and ser2 to form a dataframe.<br><br>

Input

import numpy as np<br>
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))<br>
ser2 = pd.Series(np.arange(26))<br>

In [9]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
print(ser1)
print("\n")
print(ser2)
print("\n")

df1=pd.concat([ser1, ser2], axis=1)
print(df1)
print("\n")
df2=pd.DataFrame(
        {
          "col1":ser1,
          "col2":ser2       
  }  
)
print(df2)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object


0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64


    0   1
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13
14  o  14
15  p  15
16  q  16
17  r  17
18  s  18
19  t  19
20  u  20
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25


   col1  col2
0     a     0
1     b     1
2     c     2
3     e     3
4     d     4
5     f     5
6     g     6
7     h     7
8     i     8
9     j     9
10    k    10
11    l    11
12    m    12
13    n    13
14    o    14
15    p    15
16    q    16
17    r    17
18    s    18
19    t    19
20    u    20
21    v    21
22    w    22
23    x    23
24    y    24
25    z    25